/Algorithms.class
/Algorithms.java
/Asi2.class
/Asi2.java
/Asi3.java
/Asi5.class
/Asi5.java
/Asi7.class
/Asi7.java
/JavaBasics.class
/JavaBasics.java
/Patterns.class
/practice.class
/practice.java
/TwoDArray.class
/TwoDArray.java